/// <reference path = "site.scss">

button.default
{
    padding-left: 16px;
    padding-right: 16px;
    gap: 8px;
    height: 48px;
    background: #D40511;
    border: 2px solid #D40511;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

button.cancel
{
    padding-left: 16px;
    padding-right: 16px;
    gap: 8px;
    height: 48px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #D40511;
    background: white;
}

select
{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    font-size: 16px;
}

input
{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    font-size: 16px;
}

label
{
    height: 15px;
    font-weight: 400;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.6);
}
