body
{
    margin: 0;
    width: 100vw;
    height: auto;
}

.nav-item
{
    font-size: 24px !important;
    padding-bottom: 0.5rem;
    margin-right: 20px;
    text-decoration: none;
    color: #000000;
}
