table
{
    width: 100%;
    border-collapse: collapse;

    thead
    {
        border-top: solid 4px black;
        border-bottom: 1px solid #CCCCCC;
    }

    tbody
    {
        border-bottom: 4px solid #CCCCCC;
    }

    tr
    {
        border-bottom: 1px solid #CCCCCC;

        &.center > td
        {
            vertical-align: middle;
        }
    }

    th
    {
        padding-left: 8px;
        height: 48px;
        text-align: left;
    }

    td
    {
        padding: 8px;
        text-align: left;
        vertical-align: top;
    }
}
