/* Colors */
$dhl-red: #D40511;
$dhl-yellow: #FFCC00;
$dhl-gradient: linear-gradient(90deg, $dhl-yellow 0%, $dhl-yellow 33.33%, #FFDE59 67.19%, #FFF0B2 100%);

$white-10: rgba(255,255,255,0.1);
$white-20: rgba(255,255,255,0.2);
$white-30: rgba(255,255,255,0.3);
$white-40: rgba(255,255,255,0.4);
$white-50: rgba(255,255,255,0.5);
$white-60: rgba(255,255,255,0.6);
$white-70: rgba(255,255,255,0.7);
$white-80: rgba(255,255,255,0.8);
$white-90: rgba(255,255,255,0.9);
$white-100: rgba(255,255,255,1);
