@using OnsBudget.Data.Models

@if( loaded )
{
    <div>
        <div class="lh-38" @onclick="OnClickExpand">
            @if(Node!.Children.Any( ) )
            {
                <i class="fa-solid @expandedClass me-2" ></i>
            }
            else
            {
                <span style="margin-right: 20px;"></span>
            }
            <span>@Node!.Name</span>
        </div>
        @if( Expanded )
        {
            <div class="ms-3">
                @if( Node.Children.Any( ) )
                {
                    foreach( var child in Node.Children )
                    {
                        <TreeNode Node="@child" Depth="@childDepth" Expanded="@Expanded"></TreeNode>
                    }
                }
            </div>
        }
    </div>
}

@code
{
    [Parameter]
    public CategoryTreeModel? Node { get; set; }

    [Parameter]
    public int Depth { get; set; }

    [Parameter]
    public bool Expanded { get; set; } 

    private int childDepth;

    private string expandedClass = string.Empty;

    private bool loaded;


    protected override void OnParametersSet( )
    {
        childDepth = Depth + 1;
        loaded = true;

        expandedClass = Expanded ? "fa-chevron-down" : "fa-chevron-right";
    }

    private void OnClickExpand( MouseEventArgs obj )
    {
        Expanded = !Expanded;
        expandedClass = Expanded ? "fa-chevron-down" : "fa-chevron-right";

        StateHasChanged( );
    }
}