@using OnsBudget.Data.Models

@if( Loaded )
{
    <div>
        <div class="lh-38" @onclick="OnClickExpand">
            @if( Node.Children.Any( ) )
            {
                <i class="fa-solid @ExpandedClass me-2" ></i>
            }
            else
            {
                <span style="margin-right: 20px;"></span>
            }
            <span>@Node.Name</span>
        </div>
        @if( Expanded )
        {
            <div class="ms-3">
                @if( Node.Children.Any( ) )
                {
                    foreach( var child in Node.Children )
                    {
                        <TreeNode Node="@child" Depth="@ChildDepth" Expanded="@Expanded"></TreeNode>
                    }
                }
            </div>
        }
    </div>
}

@code
{
    [Parameter]
    public CategoryTreeModel Node { get; set; }

    [Parameter]
    public int Depth { get; set; }

    [Parameter]
    public bool Expanded { get; set; } = false;

    private int ChildDepth = 0;

    private string ExpandedClass = string.Empty;

    private bool Loaded = false;

    private bool ExpandChildren = false;

    protected override void OnParametersSet( )
    {
        ChildDepth = Depth + 1;
        Loaded = true;

        ExpandedClass = Expanded ? "fa-chevron-down" : "fa-chevron-right";
    }

    private void OnClickExpand( MouseEventArgs obj )
    {
        Expanded = !Expanded;
        ExpandedClass = Expanded ? "fa-chevron-down" : "fa-chevron-right";

        StateHasChanged( );
    }
}