@page "/"
@using System.Text
@using OnsBudget.Data.Models
@using OnsBudget.Data.Services

@inject ImportService ImportService
@inject TransactionService TransactionService
@inject CategoryService CategoryService

<PageTitle>Dashboard</PageTitle>
<h1>Dashboard</h1>

@code
{
    
}
