@page "/managecategories"
@using OnsBudget.Data.Models
@using OnsBudget.Data.Services
@using MemBus
@using OnsBudget.Data.Messages

@inject CategoryService CategoryService
@inject IBus Bus

<PageHeader Title="Categorieën beheren" />

<button class="btn btn-primary mb-3" @onclick="AddRootItem">Add root item</button>

@if( nodes.Any( ) )
{
    foreach(var node in nodes )
    {
        <div class=row>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                <EditTreeNode Node="node"></EditTreeNode>
            </div>
        </div>
    }
}

@code
{
    private List<CategoryTreeModel> nodes = new List<CategoryTreeModel>( );
    private IDisposable bus;

    protected override async Task OnAfterRenderAsync( bool firstRender )
    {
        if( firstRender )
        {
            bus = Bus.Subscribe<TreeChangedMessage>(e =>
            {
                InvokeAsync( async ( ) =>
                {
                    await LoadData( );
                } );
            } );

            await LoadData( );
        }
    }

    private async Task LoadData( )
    {
        nodes = await CategoryService.GetCategoryTree( );
        StateHasChanged( );
    }

    private async Task AddRootItem( )
    {
        await CategoryService.AddRootItem();
        await LoadData();
    }



}
