<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Ons Budget</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink Match="NavLinkMatch.All" href="/uploaddata" ActiveClass="active" class="nav-link">Upload data</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink Match="NavLinkMatch.All" href="/assigntocategory" ActiveClass="active" class="nav-link">Toewijzen categorieën</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink Match="NavLinkMatch.All" href="/maandoverzicht" ActiveClass="active" class="nav-link">Maand overzicht</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink Match="NavLinkMatch.All" href="/managecategories" ActiveClass="active" class="nav-link">Categorieën beheren</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>